.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
bin/gtest_main
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-19f43a413e450673baea.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c69e716a0ced092f3f48.json
build/.cmake/api/v1/reply/codemodel-v2-31e62261fe96c91ca135.json
build/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-src-Release-b6cf2213fc5053b67c22.json
build/.cmake/api/v1/reply/directory-test-Release-451c0598f41488bb20b9.json
build/.cmake/api/v1/reply/index-2023-04-02T17-19-03-0039.json
build/.cmake/api/v1/reply/target-demoam-Release-7fed478228fa9886c59b.json
build/.cmake/api/v1/reply/target-gtest_main-Release-30f9f2fbc864281c95b3.json
build/.cmake/api/v1/reply/toolchains-v1-ffb6434f9d66dd28afdb.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Testing/Temporary/LastTest.log
build/src/cmake_install.cmake
build/src/CTestTestfile.cmake
build/src/Makefile
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/CMakeFiles/demoam.dir/backend.cpp.o
build/src/CMakeFiles/demoam.dir/backend.cpp.o.d
build/src/CMakeFiles/demoam.dir/build.make
build/src/CMakeFiles/demoam.dir/camera.cpp.o
build/src/CMakeFiles/demoam.dir/camera.cpp.o.d
build/src/CMakeFiles/demoam.dir/cmake_clean.cmake
build/src/CMakeFiles/demoam.dir/compiler_depend.make
build/src/CMakeFiles/demoam.dir/compiler_depend.ts
build/src/CMakeFiles/demoam.dir/config.cpp.o
build/src/CMakeFiles/demoam.dir/config.cpp.o.d
build/src/CMakeFiles/demoam.dir/dataset.cpp.o
build/src/CMakeFiles/demoam.dir/dataset.cpp.o.d
build/src/CMakeFiles/demoam.dir/depend.make
build/src/CMakeFiles/demoam.dir/DependInfo.cmake
build/src/CMakeFiles/demoam.dir/feature.cpp.o
build/src/CMakeFiles/demoam.dir/feature.cpp.o.d
build/src/CMakeFiles/demoam.dir/flags.make
build/src/CMakeFiles/demoam.dir/frame.cpp.o
build/src/CMakeFiles/demoam.dir/frame.cpp.o.d
build/src/CMakeFiles/demoam.dir/frontend.cpp.o
build/src/CMakeFiles/demoam.dir/frontend.cpp.o.d
build/src/CMakeFiles/demoam.dir/link.txt
build/src/CMakeFiles/demoam.dir/map.cpp.o
build/src/CMakeFiles/demoam.dir/map.cpp.o.d
build/src/CMakeFiles/demoam.dir/mappoint.cpp.o
build/src/CMakeFiles/demoam.dir/mappoint.cpp.o.d
build/src/CMakeFiles/demoam.dir/progress.make
build/src/CMakeFiles/demoam.dir/viewer.cpp.o
build/src/CMakeFiles/demoam.dir/viewer.cpp.o.d
build/src/CMakeFiles/demoam.dir/visual_odometry.cpp.o
build/src/CMakeFiles/demoam.dir/visual_odometry.cpp.o.d
build/test/cmake_install.cmake
build/test/CTestTestfile.cmake
build/test/Makefile
build/test/CMakeFiles/CMakeDirectoryInformation.cmake
build/test/CMakeFiles/progress.marks
build/test/CMakeFiles/gtest_main.dir/build.make
build/test/CMakeFiles/gtest_main.dir/cmake_clean.cmake
build/test/CMakeFiles/gtest_main.dir/compiler_depend.make
build/test/CMakeFiles/gtest_main.dir/compiler_depend.ts
build/test/CMakeFiles/gtest_main.dir/depend.make
build/test/CMakeFiles/gtest_main.dir/DependInfo.cmake
build/test/CMakeFiles/gtest_main.dir/flags.make
build/test/CMakeFiles/gtest_main.dir/gtest_main.cpp.o
build/test/CMakeFiles/gtest_main.dir/gtest_main.cpp.o.d
build/test/CMakeFiles/gtest_main.dir/link.txt
build/test/CMakeFiles/gtest_main.dir/progress.make
lib/libdemoam.so
run.sh
build/.cmake/api/v1/reply/index-2023-04-02T17-31-13-0848.json
build/.cmake/api/v1/reply/index-2023-04-11T13-17-40-0380.json
bin/stereo_kitti
bin/traj.txt
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/test/CMakeFiles/stereo_kitti.dir/build.make
build/test/CMakeFiles/stereo_kitti.dir/cmake_clean.cmake
build/test/CMakeFiles/stereo_kitti.dir/compiler_depend.make
build/test/CMakeFiles/stereo_kitti.dir/compiler_depend.ts
build/test/CMakeFiles/stereo_kitti.dir/depend.make
build/test/CMakeFiles/stereo_kitti.dir/DependInfo.cmake
build/test/CMakeFiles/stereo_kitti.dir/flags.make
build/test/CMakeFiles/stereo_kitti.dir/link.txt
build/test/CMakeFiles/stereo_kitti.dir/progress.make
build/test/CMakeFiles/stereo_kitti.dir/stereo_kitti.cpp.o
build/test/CMakeFiles/stereo_kitti.dir/stereo_kitti.cpp.o.d
build/.cmake/api/v1/reply/codemodel-v2-baa35c10e6f3e47d2f87.json
build/.cmake/api/v1/reply/index-2023-04-16T10-53-19-0016.json
build/.cmake/api/v1/reply/target-demoam-Release-d2e9df52a6e7c9601f8c.json
build/.cmake/api/v1/reply/target-stereo_kitti-Release-7be4967a832ffa77a1d1.json
build/src/CMakeFiles/demoam.dir/compiler_depend.internal
build/test/CMakeFiles/stereo_kitti.dir/compiler_depend.internal
.vscode/traj.txt
build/.cmake/api/v1/reply/cmakeFiles-v1-c80415eb6b9fee942479.json
build/.cmake/api/v1/reply/codemodel-v2-90a8a49302b21ef2c8fa.json
build/.cmake/api/v1/reply/index-2023-04-17T06-07-57-0580.json
build/.cmake/api/v1/reply/target-demoam-Release-cf9c50a70e127ee6d5ee.json
build/.cmake/api/v1/reply/target-stereo_kitti-Release-6df38be586cc923eb422.json
build/src/CMakeFiles/demoam.dir/feature_tracker.cpp.o
build/src/CMakeFiles/demoam.dir/feature_tracker.cpp.o.d
evaluate.sh
make_run_eva.sh
recmake.sh
